In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
from psycopg2 import sql
import pandas as pd

# Installation of PostgreSQL Server
Ideally, install a server in docker.
We use Podman here - a drop-in replacement from Red Hat.
This is a more modern version, running rootless, and if you have access to it - especially on Fedora, Red Hat Linux, or Ubuntu - it is very preferable.

For installing using Docker, run `docker pull postgress:15`.
For Podman, the hurdle is that the `docker.io` source is not set up per default.
Simply run `podman pull docker.io/library/postgres:15` to get it without additional configuration.
Notice that the `15` is the version number.

With Docker, run
```
docker run --name postgres-sql-tutorial \
  -e POSTGRES_USER=postgres \
  -e POSTGRES_PASSWORD=test_password \
  -e POSTGRES_DB=sql_tutorial \
  -p 5432:5432 \
  -d postgres:15
```

or with Podman
```
podman run --name postgres-sql-tutorial \
  -e POSTGRES_USER=postgres \
  -e POSTGRES_PASSWORD=test_password \
  -e POSTGRES_DB=sql_tutorial \
  -p 5432:5432 \
  -d docker.io/library/postgres:15
```

Notice that the `-d` option also pulls the image if you haven't before.

This sets up a blank data base.
Now we want to create some manipulation of it in our small test setup.

Next time, you want to start, use `docker start postgres-sql-tutorial` or `podman start postgres-sql-tutorial`.

In [2]:
DB_HOST: str = "localhost"
DB_NAME: str = "sql_tutorial"
USER: str = "postgres"
PASSWORD: str = "test_password"  # just for tutorial reasons - don't write your passwords in plain text
DB_PORT: int = 5432

In [3]:
# connection = psycopg2.connect(
#     host=DB_HOST,
#     dbname=DB_NAME,
#     user=USER,
#     password=PASSWORD,
#     port=DB_PORT
# )
# connection.autocommit = True  # that we can later use CREATE DATABASE
# cursor = connection.cursor()  # that is our dearest friend who takes the SQL commands.

# dialect+driver://username:password@host:port/database
engine_admin = create_engine(
    f"postgresql+psycopg2://{USER}:{PASSWORD}@{DB_HOST}:{DB_PORT}/postgres",
    isolation_level="AUTOCOMMIT"
)

engine = create_engine(
    f"postgresql+psycopg2://{USER}:{PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [4]:
with engine_admin.connect() as conn:
    result = conn.execute(
        text(f"SELECT 1 from pg_database WHERE datname = :dbname"),
        {"dbname": DB_NAME}
    ).fetchone()

    if result:
        print("Database present")
        # conn.execute(text(f"DROP DATABASE \"{DB_NAME}\""))
        # print("Database dropped")
    else:
        print("Database not present, creating")
        conn.execute(text(f"CREATE DATABASE \"{DB_NAME}\""))
        print("Database created")

Database present

In [5]:
with engine.begin() as conn:
    conn.execute(text("CREATE TABLE IF NOT EXISTS customers ("
                      "customer_id SERIAL PRIMARY KEY, "
                      "name TEXT, "
                      "country TEXT )"))

    conn.execute(text("CREATE TABLE IF NOT EXISTS products ("
                      "product_id SERIAL PRIMARY KEY, "
                      "product_name TEXT, "
                      "price REAL )"))

    conn.execute(text("CREATE TABLE IF NOT EXISTS orders ("
                      "order_id SERIAL PRIMARY KEY, "
                      "customer_id INTEGER REFERENCES customers(customer_id), "
                      "product_id INTEGER REFERENCES products(product_id), "
                      "quantity INTEGER, "
                      "order_date DATE )"))

In [6]:
# insert data if not present
def insert_if_empty(table_name: str, df: pd.DataFrame):
    with engine.connect() as conn:
        result = conn.execute(text("SELECT EXISTS ("
                                   "SELECT 1 FROM information_schema.tables "
                                   "WHERE table_schema='public' AND table_name=:table_name)"),
                              {"table_name": table_name})
        exists = result.fetchone()[0]
        if not exists:
            print("Error: table not found")
            return

        count: int = conn.execute(text(f"SELECT COUNT(*) from {table_name}")).fetchone()[0]
    if count > 0:
        return

    df.to_sql(table_name, engine, if_exists="append", index=False)

In [7]:
# some test data

df_customers = pd.DataFrame({
    "name": ["Alice", "Bob", "Carlos", "Diana"],
    "country": ["Germany", "USA", "Brazil", "Germany"]
})

df_products = pd.DataFrame({
    "product_name": ["Laptop", "Mouse", "Keyboard", "Monitor"],
    "price": [1200.00, 25.00, 45.00, 300.00]
})

df_orders = pd.DataFrame({
    "customer_id": [1, 1, 2, 3, 4, 4],
    "product_id": [1, 2, 4, 3, 1, 4],
    "quantity": [1, 2, 1, 5, 1, 2],
    "order_date": ["2022-01-10", "2022-01-12", "2022-02-05",
                   "2022-02-08", "2022-03-01", "2022-03-02"]
})

print("Adding customers")
insert_if_empty("customers", df_customers)
print("Adding products")
insert_if_empty("products", df_products)
print("Adding orders")
insert_if_empty("orders", df_orders)

Adding customers
Adding products
Adding orders

In [8]:
# Let's forget that we just have created the data: we now will work on data
# read from the database as if there was another project.
sql_query = text("""
SELECT c.name AS customer, p.product_name, o.quantity, o.order_date
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN products p ON o.product_id = p.product_id
ORDER By c.name, o.order_date
""")

with engine.connect() as conn:
    df_orders_full = pd.read_sql(sql_query, conn)


print(df_orders_full)

  customer product_name  quantity  order_date
0    Alice       Laptop         1  2022-01-10
1    Alice        Mouse         2  2022-01-12
2      Bob      Monitor         1  2022-02-05
3   Carlos     Keyboard         5  2022-02-08
4    Diana       Laptop         1  2022-03-01
5    Diana      Monitor         2  2022-03-02

# Outline
* Aufbau des professionellen Tutorials
1. PostgreSQL-Server aufsetzen

 Option A: Container (Docker/Podman)

Image einmal ziehen

Container starten, Port und Datenbank festlegen

Optional: persistent Volume für Daten

Option B: Native Installation

Server läuft als Dienst

Datenbank und Benutzer einmal anlegen

Der Server selbst bleibt dabei „roh“ – noch keine Übungsdaten.


2. Python-Zugang

Bibliothek: psycopg2-binary oder SQLAlchemy

Verbindung aufbauen

Funktionen zum Ausführen von SQL und Rückgabe als Pandas DataFrame

Damit hast du eine durchgängige Python-Schicht, alles läuft im Notebook.


3. Datenbank vorbereiten

Tabellen anlegen (CREATE TABLE)

Indizes, Constraints setzen (Primary Key, Foreign Key)

Alles direkt über Python, keine Bash/psql-Befehle

4. Daten einfügen (INSERT / COPY)

Beispiel-Daten programmatisch laden (pandas.DataFrame.to_sql)

Alternative: SQL INSERT Statements über Python

5. SQL-Übungen

Schrittweise von Basics → Aggregationen → Joins → CTEs → Window Functions

Alle Queries direkt in Python ausführen und Ergebnisse in DataFrames visualisieren

6. Optional: Analyse & Visualisierung

Matplotlib / Seaborn / Pandas-Plotting

Alles direkt im Notebook – keine Unterbrechung zwischen Shell und Python